[submodule "package/maskedeken/OpenClash"]
	path = package/maskedeken/OpenClash
	url = https://github.com/maskedeken/OpenClash.git
[submodule "package/maskedeken/luci-theme-argon"]
	path = package/maskedeken/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06
[submodule "package/maskedeken/luci-app-argon-config"]
	path = package/maskedeken/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
